header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;
          @extend %transitionsAll;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216,216,216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {

      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          @extend %transitionsAll;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224,227,237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);

          p {
            position: absolute;
            left: 13px;
            text-align: left;
            margin: 0;
          }
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1,2,2,0.2);
    background-color: #ffffff;

    .container > .row {
      min-height: 84px;
      justify-content: center;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }
    
    .search-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .category-list-show {
        display: none;
      }

      .search-form {
        border: 1px solid $form-border-color;
        display: inline-flex;
        height: 45px;
        color: $text-color;

        %category-hover {
          cursor: pointer;
          background: $primary;
          color: #ffffff;
          transition: 300ms;
        }
  
        .category {
          border-right: 1px solid $form-border-color;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 30px 0 35px;

          &:hover,
          &:hover i:first-child {
            @extend %category-hover;
          }

          i {
            position: absolute;
            z-index: 0;
    
            &:first-child {
              color: $primary;
              left: 10px;
            }
            
            &:last-child {
              right: 10px;
            }
          }
  
          .select-cta {
            p {
              font-size: 14px;
              margin: 0;
            }
          }
          
          .category-first,
          .category-second {
            color: $text-color;
            margin: 0;
            padding: 0;
            border: 1px solid #292929;
            background: #ffffff;
            width: calc(100% + 2px);
            position: absolute;
            list-style: none;
            transition: 300ms;
            transition-delay: 300ms;
          }
  
          .category-first {
            z-index: 99;
            left: -1px;
            top: 43px;
            transform: scaleY(0);
            transform-origin: top;
            border-top: none;
  
            
            .category-element {
              font-size: 14px;
              line-height: 43px;
              padding: 0 10px;
              height: 43px;
              text-align: center;
              text-overflow: ellipsis;
              position: relative;
  
              &:hover {
                @extend %category-hover;
              }
  
              .category-second {
                top: -1px;
                transform: scaleX(0);
                transform-origin: 0%;
                right: calc(-100% - 2px);
              }
  
              &:hover .category-second {
                transform: scaleX(1);
              }
            }
          }
  
          &:hover .category-first {
            cursor: pointer;
            transform: scaleY(1);
            transition: 300ms;
          }
        }
        
        .search-field {
          display: flex;
          align-items: center;
          position: relative;
  
          input {
            border: 0;
            padding-left: 10px;
            font-size: 14px;
            width: 100%;
            outline: none;
  
            &::placeholder {
              color: $text-color;
            }
          }
  
          button {
            border: 0;
            background-color: transparent;
            outline: none;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {

  header {
  
    .menu-bar {
  
      .menu {
        width: 100%;
        padding: 0;
  
        ul {
          width: 100%;
  
          li {
            flex: 1;
            height: 45px;
  
            a {
              width: 100%;
              justify-content: center;
            }
          }
        }
      }
  
      .search-wrapper {
        padding: 20px 0;
      }
    }
  }
}

@media(max-width: 575px) {

  header {
  
    .menu-bar {
  
      .menu {
        transform: scaleY(0);
        opacity: 0;
        transition: 300ms;
        position: relative;
        z-index: 97;
  
        ul {
          flex-direction: column;
          position: absolute;
          z-index: 98;
          background: white;
  
          li {
            border-bottom: 1px solid rgba(0, 0, 0, .2);
          }
        }

        &.drop {
          transform: scaleY(1);
          opacity: 1;
          transition: 300ms;
          transform-origin: top;
        }
      }

      .search-wrapper {
        justify-content: space-evenly;

        .search-form {
          margin-left: 10px;
        }
        
        .category-list-show {
          display: flex;
          padding: 0 10px;
          justify-content: center;
          color: $primary;
          font-size: 30px;

          &.active {
            color: #333333;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header .company-claim {
    .container {
      position: relative;
    }
    .phone-number, .cart { 
      position: absolute;
    }
    .phone-number {
      bottom: 20px;
      p {
        font-size: 14px;
      }
    }
    .cart {
      top: 20px;
    } 
  }

}

@media (max-width: 576px) {
  header .top-bar .text-right ul li {
    margin-left: 0.2rem;
  }
}
