.product-box {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    margin-bottom: 2rem;
    

    &:hover {
        .photo {
            .buttons {
                visibility: visible;
            }
        }

        .actions {
            .price {
                .btn-main-small {
                    background: $;
                }
            }
        }
    }

    .bg1 {
        background-image: url("../images/new-furniture/1.jpg");
    }

    .bg2 {
        background-image: url("../images/new-furniture/2.jpeg");
    }

    .bg3 {
        background-image: url("../images/new-furniture/3.jpg");
    }

    .bg4 {
        background-image: url("../images/new-furniture/4.jpeg");
    }

    .bg5 {
        background-image: url("../images/new-furniture/5.jpeg");
    }

    .bg6 {
        background-image: url("../images/new-furniture/6.jpg");
    }

    .bg7 {
        background-image: url("../images/new-furniture/7.jpg");
    }

    .bg8 {
        background-image: url("../images/new-furniture/8.jpeg");
    }

    .photo {
        position: relative;
        padding: 80% 10px 0 10px;
        background: {
            size: cover;
            position: center;
            repeat: no-repeat;
        };
        overflow: hidden;
        align-items: flex-end;

        .sale {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #292929;
            border-radius: 50%;
            color: #ffffff;
            padding: 30px 15px 5px 15px;
        }

        .buttons {
            display: flex;
            visibility: hidden;
            justify-content: space-between;

        }
    }

    .content {
        text-align: center;
        padding: 20px;

        h5 {
            color: $primary;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1px;
        }

        .stars {
            a {
                text-decoration: none;
                color: rgb(42, 42, 42);

                @extend .far;

                @extend .fa-star;

                &.full {
                    @extend .fas;
                }
            }
        }
    }

    .line {
        margin: 0 10px;
        border-bottom: 1px solid #2a2a2a;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 30px;
            border-bottom: 4px solid $primary;
            transform: translateX(-50%);
        }
    }

    .actions {
        padding: 15px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            display: flex;
            align-items: center;

            .price-old {
                font-size: 13px;
                color: $text-inactive-color;
                padding: 5px 10px;
                text-decoration: line-through $text-color;
            }
        }
    }
}
