$grid-columns: 12;
$grid-gap: 10px;
$breakpoints: ("s": 468px, "m": 768px, "l": 1200px);

@each $size, $width in $breakpoints {
    @media (min-width: #{$width}) {
        @for $i from 1 through $grid-columns {
            .col-#{$size}-#{$i} {
                $width: $i / $grid-columns * 100%;
                flex: 0 1 $width;
                max-width: $width;
            }
        }
    }
}

/* default style any column */
[class*="col-"] {
    float: left;
    padding-left: $grid-gap;
    padding-right: $grid-gap;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    margin: auto;
    // padding: 0 5px;
}