%hover-element {
    transition: color $hover-element-transition ease-in;
}

%hover-bg {
    transition: background-color $hover-bg-transition ease-in;
}

%hover-border {
    transition: border-top-color $hover-border-transition ease-in;
}