$header-topbar-bg: #864343;
$header-bg: #723636;
$cart-counter: #e0e3ed;
$phone-number: #d8d8d8;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;
$footer-text: #a9a9a9;

$primary: #d58e32;
$white: #fff;

$text-hover: #fff;

$text-color: #2a2a2a;

$product-box-bg: #fff;

$form-border-color: #292929;

$brands-border-color: #e1e1e1;
$brands-chevron-color: #fff;
$brands-buttons-color: #2a2a2a;
$brands-buttons-fill: #fff;

$panel-border-grey: #e2e2e2;
$dot-bg: #e1e1e1;
