$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$secondary: #e0a38e;

$text-color: #2a2a2a;
$post-info-heading-color: #676767;

$form-border-color: #292929;


