@import "variables";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

@import "bootstrap/bootstrap.scss";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "fontawesome/regular";

@import "components/header";
@import "components/footer";

@import "components/button";
@import "components/feature-box";
@import "components/panel-bar";
@import "components/post-box";
@import "components/product-box";

@import "components/section--features";

body {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 576px) and (max-width: 600px) {
  .menu-wrapper {
    margin: 5px 30px;
    text-align: center;
  }
  footer .bottom-bar {
    .copyright p {
      font-size: 10px;
      line-height: 15px;
    }
    .col {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .row {
    display: block;
  }
  footer .footer-menu {
    text-align: center;
  }
  footer .bottom-bar {
    text-align: center;
    .col {
      float: left;
    }
    .copyright {
      width: 50%;
    }
    .socialmedia {
      width: 50%;
    }
  }
}