@import "variables";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import "bootstrap/bootstrap.scss";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/spacing";

@import "components/header";
@import "components/footer";

@import "components/button";
@import "components/feature-box";
@import "components/images";
@import "components/promotion-box";
@import "components/panel-bar";
@import "components/post-box";
@import "components/product-box";
@import "components/promote";

@import "components/products-slider";
@import "components/blog-slider";
@import "components/animation-transition";

@import "components/section-features";
@import "components/section-brands";

body {
  font-family: "Poppins", sans-serif;
}
