<div class="section-featured">
  <div class="container">
    <div class="row">
      <div class="col-4 left-side">
        <div class="product-box">
          <div class="featured-header">Hot Deals</div>
          <div class="carousel-hot-deals" data-flickity="{ &quot;autoPlay&quot;: true}">
            <div class="carousel-cell" id="carousel-cell1">
              <img class="hot-deals-images" src="images/chair.jpg" />
            </div>
            <div class="carousel-cell" id="carousel-cell2">
              <img class="hot-deals-images" src="images/chair.jpg" />
            </div>
            <div class="carousel-cell" id="carousel-cell3">
              <img class="hot-deals-images" src="images/chair.jpg" />
            </div>
          </div>
          <a class="btn-main cart-btn" href="#"
            ><i class="fa fa-shopping-basket"></i>ADD TO CART</a
          >
          <div class="counters-wrapper">
            <div class="counters">
              <div class="counter">
                <div class="counter-number">23</div>
                DAYS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                HRS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                MINS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                SEC
              </div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a class="full" href="#"></a> <a class="full" href="#"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a class="btn-outline" href="#"><i class="far fa-heart"></i></a>
              <a class="btn-outline" href="#"><i class="fas fa-exchange-alt"></i></a>
              <a class="btn-outline" href="#"><i class="far fa-eye"></i></a>
            </div>
            <div class="old-price show-price">$35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-8 right-side">
        <div
          class="carousel"
          data-flickity="{ &quot;cellAlign&quot;: &quot;left&quot;, &quot;contain&quot;: true }"
        >
          <div class="carousel-cell" id="carousel-cell1">
            <img class="featured-images" src="images/sofa.jpg" />
          </div>
          <div class="carousel-cell" id="carousel-cell2">
            <img class="featured-images" src="images/sofa.jpg" />
          </div>
          <div class="carousel-cell" id="carousel-cell3">
            <img class="featured-images" src="images/sofa.jpg" />
          </div>
          <div class="carousel-cell" id="carousel-cell4">
            <img class="featured-images" src="images/sofa.jpg" />
          </div>
        </div>
        <div class="overlay">
          <div class="content">
            <p class="text-uppercase">Indoor<b>furniture</b></p>
            <break></break>
            <p class="text-uppercase caption">save up to 50% of all furniture</p>
            <break></break> <button name="button" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
