<div class="section-promotional">
  <div class="container ">
    <div class="row">
      <div class="col-4 ">
        <div class="mr-1 product-card">
          <div class="panel">
            <div class="col-auto heading"><h5>Hot deals</h5></div>
            <div class="promotional-dots">
              <ul class="hot-deals-carousel-nav">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
          <div class="promotional-box">
            <div class="photo-container p-0">
              <div class="row carousel-hot-deals">
                <div class="slide-item">
                  <img src="../src/images//furniture1.jpeg" alt="furniture1" />
                </div>
                <div class="slide-item">
                  <img src="../src/images//furniture2.jpeg" alt="furniture2" />
                </div>
                <div class="slide-item">
                  <img src="../src/images//furniture.jpeg" alt="furniture3" />
                </div>
              </div>
              <div class="promotional-button">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="timer mx-1">
                <span>25 days</span> <span>10 hrs</span> <span>45 mins</span>
                <span>30 secs</span>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a><a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="old-price btn-main-small no-hover">$ 200.00</div>
                <div class="btn-main-small no-hover">$ 300.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 slider">
        <div class="promotional-wrapper">
          <div class="promotional-title">
            <h1 class="promotional-slogan">indoor <span>furniture</span></h1>
            <p class="mb-4">Save up to 50% of all furniture</p>
            <div><a href="#" class="btn-main no-hover">shop now</a></div>
          </div>
          <div class="row slider-row m-0">
            <div class="col-6 control-arrow p-0">
              <a href="#"><i class="fas fa-angle-left"></i></a>
            </div>
            <div class="col-6 control-arrow p-0">
              <a href="#"><i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
