<div class="section-promote">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="hot-deals">
          <div class="hot-deals__header">
            <h4 class="hot-deals__header--text">hot deals</h4>
            <div class="hot-deals__dots">
              <span class="hot-deals__dots--dot"></span>
              <span class="hot-deals__dots--dot"></span>
              <span class="hot-deals__dots--dot"></span>
            </div>
          </div>
          <div class="product-box hot-deals__product">
            <img
              src="https://secure.img1-fg.wfcdn.com/im/68010059/resize-h505-w505%5Ecompr-r85/3034/30347531/Rogersville+Armchair.jpg"
              class="hot-deals__photo"
              alt=""
            />
            <div class="counter">
              <span class="counter__value">25<br />days</span>
              <span class="counter__value">10<br />hrs</span>
              <span class="counter__value">45<br />mins</span>
              <span class="counter__value"
                >30<br />
                secs</span
              >
            </div>
            <div class="buttons">
              <a href="#" class="btn-main-small hot-deals__button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="fas fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="distinguish">
          <img
            class="distinguish__image"
            src="https://pl.sofacompany.com/media/catalog/product/cache/d13c0f82f8ebfb04d96519ed59bc94be/0/7/074803042117_Front_1.jpg"
            alt=""
          />
          <div class="overlay">
            <h2 class="overlay__header">INDOOR</h2>
            <h2 class="overlay__header overlay__header--bold">FURNITURE</h2>
            <p class="overlay__subheader">SAVE UP TO 50% OF ALL FURNITURE</p>
            <button class="overlay__button">SHOP NOW</button>
          </div>
          <div class="distinguish__nav">
            <button class="distinguish__buttons">&#62;</button>
            <button class="distinguish__buttons">&#60;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
