<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-4 product-card">
        <div class="row">
          <div class="panel">
            <div class="col-auto heading"><h5>Hot deals</h5></div>

            <div class="dots1">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="product-box">
            <div class="photo">
              <img src="../src/images//furniture1.jpeg" alt="furniture1" />
              <div class="buttons">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="timer">
                <span>25 days</span> <span>10 hrs</span> <span>45 mins</span>
                <span>30 secs</span>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="old-price">$ 200.00</div>
                <div class="btn-main-small no-hover">$ 300.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 slider"></div>
      </div>
    </div>
  </div>
</div>
