<div class="section-featured">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="product-box">
          <div class="featured-header">
            Hot Deals
            <div class="hot-deals-points">
              <div class="hot-deals-point active"></div>
              <div class="hot-deals-point"></div>
              <div class="hot-deals-point"></div>
            </div>
          </div>
          <div class="featured-photo">
            <a class="btn-main cart-btn" href="#">
              <i class="fa fa-shopping-basket"></i> ADD TO CART
            </a>
            <div class="counters">
              <div class="counter">
                <div class="counter-number">23</div>
                DAYS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                HRS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                MINS
              </div>
              <div class="counter">
                <div class="counter-number">23</div>
                SEC
              </div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a class="full" href="#"></a> <a class="full" href="#"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a class="btn-outline" href="#"><i class="far fa-heart"></i></a>
              <a class="btn-outline" href="#"><i class="fas fa-exchange-alt"></i></a>
              <a class="btn-outline" href="#"><i class="far fa-eye"></i></a>
            </div>
            <div class="old-price show-price">$35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="photo">
          <img alt="" class="featured-image" src="images/featured-sofa.jpg" />
          <div class="overlay">
            <div class="content">
              <p class="text-uppercase">Indoor<b>furniture</b></p>
              <break> </break>
              <p class="text-uppercase caption">save up to 50% of all furniture</p>
              <break></break> <button name="button" type="button">Shop now</button>
            </div>
          </div>
        </div>
        <div class="featured-buttons">
          <button class="featured-btn" name="button" type="button">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="featured-btn" name="button" type="button">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
