<div class="section-promote">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="hot-deals">
          <div class="hot-deals__header">
            <h4 class="hot-deals__header-text">hot deals</h4>
            <div class="hot-deals__dots">
              <span class="hot-deals__dot active" role="button"></span>
              <span class="hot-deals__dot" role="button"></span>
              <span class="hot-deals__dot" role="button"></span>
            </div>
          </div>
          <div class="hot-deals-slider">
            <div class="carousel-cell">
              <div class="product-box hot-deals__product">
                <img
                  src="https://secure.img1-fg.wfcdn.com/im/68010059/resize-h505-w505%5Ecompr-r85/3034/30347531/Rogersville+Armchair.jpg"
                  class="hot-deals__photo"
                  alt="chair"
                />
                <div class="counter">
                  <span class="counter__value">25 days</span>
                  <span class="counter__value">10 hrs</span>
                  <span class="counter__value">45 mins</span>
                  <span class="counter__value">30 secs</span>
                </div>
                <div class="buttons">
                  <a href="#" class="btn-main-small hot-deals__button"
                    ><i class="fa fa-shopping-basket"></i>add to cart</a
                  >
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="product-box hot-deals__product">
                <img
                  src="https://www.ikea.com/PIAimages/0521201_PE642662_S5.JPG"
                  class="hot-deals__photo"
                  alt="chair"
                />
                <div class="counter">
                  <span class="counter__value">25 days</span>
                  <span class="counter__value">10 hrs</span>
                  <span class="counter__value">45 mins</span>
                  <span class="counter__value">30 secs</span>
                </div>
                <div class="buttons">
                  <a href="#" class="btn-main-small hot-deals__button"
                    ><i class="fa fa-shopping-basket"></i>add to cart</a
                  >
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="product-box hot-deals__product">
                <img
                  src="https://cdn1.jysk.com/getimage/wd2.large/31051"
                  class="hot-deals__photo"
                  alt="chair"
                />
                <div class="counter">
                  <span class="counter__value">25 days</span>
                  <span class="counter__value">10 hrs</span>
                  <span class="counter__value">45 mins</span>
                  <span class="counter__value">30 secs</span>
                </div>
                <div class="buttons">
                  <a href="#" class="btn-main-small hot-deals__button"
                    ><i class="fa fa-shopping-basket"></i>add to cart</a
                  >
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="distinguish">
          <div class="distinguish-slider">
            <div class="carousel-cell">
              <img
                class="distinguish__image"
                src="https://pl.sofacompany.com/media/catalog/product/cache/d13c0f82f8ebfb04d96519ed59bc94be/0/7/074803042117_Front_1.jpg"
                alt="sofa"
              />
            </div>
            <div class="carousel-cell">
              <img
                src="https://cb2.scene7.com/is/image/CB2/AndesBedQueenAcaciaLLSHS16_16x9/?$web_zoom_furn_hero$&160718121019&wid=1008&hei=567"
                alt="bed"
                class="distinguish__image"
              />
            </div>
            <div class="carousel-cell">
              <img
                src="https://www.dakohome.co.uk/media/catalog/product/cache/2/image/550x500/9df78eab33525d08d6e5fb8d27136e95/b/r/brema_white_800x600.jpg"
                alt="wardrobe"
                class="distinguish__image"
              />
            </div>
          </div>
          <div class="overlay">
            <h2 class="overlay__header">indoor</h2>
            <h2 class="overlay__header overlay__header--bold">furniture</h2>
            <p class="overlay__subheader">save up to 50% of all furniture</p>
            <button class="overlay__button">shop now</button>
          </div>
          <div class="distinguish__nav">
            <button class="distinguish__buttons">&#62;</button>
            <button class="distinguish__buttons">&#60;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
