<div class="section--features">
  <div class="container">
    <div class="row features-row">
      <div class="col-lg-3 col-sm-6 col-md-6 col-6 feature-box">
        <div class="mr-1 wrapper">
          <a href="#">
            <div class="icon"><i class="fas fa-truck"></i></div>
            <div class="content">
              <h5>Free shipping</h5>
              <p>All orders</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 col-6 feature-box">
        <div class="mr-1 wrapper">
          <a href="#">
            <div class="icon"><i class="fas fa-headphones"></i></div>
            <div class="content">
              <h5>24/7 customer</h5>
              <p>support</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 col-6 feature-box">
        <div class="mr-1 wrapper">
          <a href="#">
            <div class="icon"><i class="fas fa-reply-all"></i></div>
            <div class="content">
              <h5>Money back</h5>
              <p>guarantee</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 col-6 feature-box">
        <div class="mr-1 wrapper">
          <a href="#">
            <div class="icon"><i class="fas fa-bullhorn"></i></div>
            <div class="content">
              <h5>Member discount</h5>
              <p>First order</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section--sale">
  <div class="container">
    <div class="row sale-row">
      <div class="col-6 first-box">
        <div class="sale-box">
          <div class="text-sale-box">
            <h1>guest room</h1>
            <h2>sofa</h2>
            <p>-20%</p>
          </div>
        </div>
      </div>
      <div class="col-6 second-box">
        <div class="office-box">
          <div class="text-office-box">
            <h1>office chair</h1>
            <h2>collection</h2>
            <p>$200.00</p>
          </div>
        </div>
        <div class="row special-row">
          <div class="col-12 third-box">
            <div class="special-box">
              <div class="text-special-box">
                <h1>special collection</h1>
                <p>save up 45% of furniture</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
