<section id="promotion" class="section--promotion">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 image">
        <div class="promotion-box__photo mw-100">
          <div class="promotion-box__overlay">
            <div class="promotion-box__content">
              <h4>Guest Room</h4>
              <h3>SOFA</h3>
              <span class="promotion-box__rate">- 20 %</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 promotion-box__site">
        <div class="promotion-box__box">
          <div class="promotion-box__images">
            <div class="col-xs-12 col-md-12 img1 image">
              <div class="promotion-box__images--bg">
                <div class="promotion-box__images--img1">
                  <div class="promotion-box--content">
                    <h3 class="promotion-box--content__heading">
                      <span>OFFICE</span> CHAIR
                    </h3>
                    <div class="promotion-box--content_info">
                      <h4>COLLECTION</h4>
                      <p class="promotion-box__images-price">$200.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 img2 image">
              <div class="promotion-box__images--bg">
                <div class="promotion-box__images--img2">
                  <div class="promotion-box--content__down">
                    <div class="promotion-box--content__down_info">
                      <h3><span>SPECIAL</span> COLLECTION</h3>
                      <h4>SAVE UP 45% OF FURNITURE</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
