<div class="section--sale">
  <div class="container">
    <div class="row sale-row">
      <div class="col-6 first-column">
        <div class="grey-sale-box">
          <div class="sale-box">
            <div class="text-sale-box">
              <h1>guest room</h1>
              <h2>sofa</h2>
              <p>-20%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 second-column">
        <div class="row-office">
          <div class="office-box">
            <div class="text-office-box">
              <h1><span>office</span> chair</h1>
              <h2>collection</h2>
              <p>$200.00</p>
            </div>
          </div>
        </div>
        <div class="row-special">
          <div class="special-box">
            <div class="text-special-box">
              <h1><span>special</span> collection</h1>
              <p>save up 45% of furniture</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
