<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture Gallery</h3></div>
          </div>
        </div>
        <div class="container product-presentation-box">
          <div class="row">
            <div class="col-12 tabs-container">
              <ul class="nav nav-tabs tab-list" role="tablist">
                <li role="presentation" class="tab-list-element">
                  <a
                    href="#featured"
                    aria-controls="featured"
                    role="tab"
                    data-toggle="tab"
                  >
                    FEATURED
                  </a>
                </li>
                <li role="presentation" class="tab-list-element active">
                  <a
                    class="no-right-border"
                    href="#top-seller"
                    aria-controls="top-seller"
                    role="tab"
                    data-toggle="tab"
                  >
                    TOP SELLER
                  </a>
                </li>
                <li role="presentation" class="tab-list-element">
                  <a
                    href="#sale-off"
                    aria-controls="sale-off"
                    role="tab"
                    data-toggle="tab"
                  >
                    SALE OFF
                  </a>
                </li>
                <li role="presentation" class="tab-list-element">
                  <a
                    href="#top-rated"
                    aria-controls="top-rated"
                    role="tab"
                    data-toggle="tab"
                  >
                    TOP RATED
                  </a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="featured">
                  <div class="tabpanel-content">
                    <div class="outlines presentation-outlines">
                      <a
                        href="#"
                        class="btn-outline"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Add to favourite"
                      >
                        <i class="far fa-heart"></i>
                      </a>
                      <a
                        href="#"
                        class="btn-outline"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Share"
                      >
                        <i class="fas fa-exchange-alt"></i>
                      </a>
                      <a
                        href="#"
                        class="btn-outline"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Open In New Window"
                      >
                        <i class="fas fa-eye"></i>
                      </a>
                      <a
                        href="#"
                        class="btn-outline"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Add To Cart"
                      >
                        <i class="fas fa-shopping-basket"></i>
                      </a>
                    </div>

                    <div class="content">
                      <div class="price-circle">
                        <span class="new-price">$120.00</span>
                        <span class="old-price">$160.00</span>
                      </div>
                      <h5>Aenean Ru Bristique</h5>
                      <div class="stars">
                        <a href="#" class="full"></a> <a href="#" class="full"></a>
                        <a href="#"></a> <a href="#"></a> <a href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="top-seller">top seller</div>
                <div role="tabpanel" class="tab-pane" id="sale-off">sale off</div>
                <div role="tabpanel" class="tab-pane" id="top-rated">top rated</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="gallery-presentation-image">
          <h5 class="presentation-header-top">
            FROM <span class="presentation-price">$ 50.80</span>
          </h5>
          <h3 class="presentation-header-bottom">Bedroom Bed</h3>
          <button class="presentation-shop-now-button">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
