<div class="section--brands">
  <div class="container">
    <div class="brands-panel">
      <div class="carousel brands-slider">
        <div class="carousel-cell"><div class="brand-photo brand-1"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-2"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-1"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-2"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-1"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-2"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-1"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-2"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-1"></div></div>
        <div class="carousel-cell"><div class="brand-photo brand-2"></div></div>
      </div>
    </div>
  </div>
</div>
