<div class="section--brands">
  <div class="container">
    <div class="brands-panel">
      <div
        class="carousel wrap"
        data-flickity="{&quot;pageDots&quot;: false, &quot;groupCells&quot;: &quot;100%&quot;, &quot;cellAlign&quot;: &quot;center&quot;, &quot;contain&quot;: true, &quot;wrapAround&quot;: true }"
      >
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
        <div class="carousel-cell brand-1"></div>
        <div class="carousel-cell brand-2"></div>
      </div>
    </div>
  </div>
</div>
