<section id="feadback" class="section--feadback">
  <div class="container">
    <div class="row no-gutters align-items-end">
      <div class="col-xs-12 col-md-12">
        <div class="feadback--box panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Client feadback</h3></div>
            <div class="col"></div>
            <div class="col-auto dots">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="feadback--box__content">
          <blockquote class="feadback--box__blockquote"></blockquote>
          <div class="feadback-box_text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur
              cum delectus ducimus fugit incidunt inventore ipsum iure laboriosam
              laborum minus, perspiciatis placeat, possimus quisquam quos repudiandae
              suscipit ullam voluptatibus?
            </p>
          </div>
          <div class="feadback-box_media">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="https://randomuser.me/api/portraits/thumb/men/1.jpg"
                  alt="woman"
                />
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="feadback-box_signature">
                  <p>John Smith</p>
                  <p>Furshshope Client</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
