.btn-main {
  @extend %hover-transition;
  background-color: $base-color;
  color: $font-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.no-hover):hover {
    color: $font-color !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-main-small {
  @extend .btn-main;
  // @extend %hover-transition;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  @extend %hover-transition;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $base-color;
  color: $base-color;
  font-size: 13px;
  line-height: 22px;

  &:hover,
  &.active {
    background-color: $base-color;
    color: $font-color;
  }
}
