.btn-main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.no-hover) {
    @extend %transitionsAll;
  }

  &:not(.no-hover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:hover {
    @extend %transitionsAll;
    background-color: #2a2a2a;
    color: #ffffff;
  }
  &.active {
    background-color: $primary;
    border-color: $primary;
    color: #ffffff;
  }
}

.btn-green {
  @extend .btn-main;
  margin: 5px 60px;
  padding: 20px 30px;
  display: inline-block;
  background-color: $gallery-price;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
}


