.btn-main {
  @extend %hover-trans;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  border: none;

  &:not(.no-hover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  @extend %hover-trans;
  display: inline-block;
  height: 34px;
  min-width: 34px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 32px;
  text-align: center;

  &:hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }

  &.active {
    background-color: #2a2a2a;
    color: $primary;
  }
}
