.carousel-control-prev-icon {
    -webkit-mask: $carousel-control-prev-icon-bg;
    background-color: white;
    background-image: none;
  }
  .carousel-control-next-icon {
    -webkit-mask: $carousel-control-next-icon-bg;
    background-color: white;
    background-image: none;
  }