.dots {
  ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 0.5rem;
      @extend %hover-trans;
      width: 13px;
      height: 13px;
      border-radius: 6px;
      background-color: #e1e1e1;
      cursor: pointer;
      outline: none;

      &.active,
      &:hover {
        background-color: $primary;
      }
    }
  }
}