.feature-box {
  border: 1px solid $featured-color;
  text-align: center;
  margin-top: $grid-base * 4;

  .icon {
    transform: $feature-icon;

    i {
      width: $grid-base * 6;
      height: $grid-base * 6;
      border-radius: 100%;
      position: relative;
      color: $text-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $featured-color;
    }

    &::before {
      content: "";
      border: 1px solid $featured-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: $featured-transform;
      width: $grid-base * 7.6;
      height: $grid-base *7.6;
      border-radius: 100%;
      background-color: $white;
      z-index: -1;
    }
  }

  .content {
    text-transform: uppercase;
    color: $featurd-content;
    margin-top: - .5rem;
    letter-spacing: 1px;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
      font-weight: 300;
    }
  }

  &.active {
    i {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }

    .content {
      color: $primary;
    }
  }
}
