.feature-box {
  border: 1px solid $featured-box;
  text-align: center;
  margin-top: $grid-base * 4;

  .icon {
    transform: translateY(-50%);

    i {
      width: $grid-base * 6;
      height: $grid-base * 6;
      border-radius: 100%;
      position: relative;
      color: $text-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $featured-box;
    }

    &::before {
      content: "";
      border: 1px solid $featured-box;
      position: absolute;
      @include centererPos();
      width: $grid-base * 7.6;
      height: $grid-base * 7.6;
      border-radius: 100%;
      background-color: $white;
      z-index: -1;
    }
  }

  .content {
    text-transform: uppercase;
    color: $featured-booxContent;
    margin-top: -0.5rem;
    letter-spacing: 1px;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
      font-weight: 300;
    }
  }

  &.active {
    i {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }

    .content {
      color: $primary;
    }
  }
}

.link {
  &:hover {
    i {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }

    .content {
      color: $primary;
    }
  }
}
