footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      h6 {
        color: $white;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      ul {
        margin-bottom: 1.5rem;
        padding: 0;
        list-style: none;

        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169, 169, 169);
            @extend .animation-transition;
            color: $footer-text;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    .payment-image {
      display: block;
      max-width: 240px;
      width: 100%;
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottom-bar {
    background-color: $footer-claim-bg;

    .container > .row {
      min-height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $footer-text;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialmedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: $footer-text;
            text-decoration: none;
            @extend .animation-transition;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .bottom-bar {
    .copyright {
      order: 2;
    }

    .placeholder {
      padding-top: 10px;
      width: 100%;
      order: 1;
      text-align: center;
      margin-bottom: 15px;
    }

    .socialmedia {
      order: 3;
    }
  }
}
