$gallery-border: 1px solid $container-border-color;
$carousel-control-bg: #2a2a2a;
$gallery-right-box-color: #e8edf7;
$gallery-green-color: #79ae30;
$product-slider-bg-color: #ccc;
$product-info-bg-color: #fff;
$price-circle-text-color: #fff;
$price-circle-bg-color: #7b7b7ce3;
$product-info-triangle-color: #000;
$carousel-bg-color: #fff;
$carousel-controls-color: #fff;

%triangle-base {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

%gallery-box-shadow {
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

.section--gallery {
  display: block;
  height: 650px;
  width: 100%;

  .panel-bar {
    width: 550px;
    padding-right: 15px;

    .heading {
      width: 100%;
    }
  }

  .product-presentation-box {
    .tabs-container {
      padding: 0;

      .tab-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        border-bottom: $gallery-border;

        .tab-list-element {
          width: 25%;
          display: flex;
          display: block;
          justify-content: center;
          align-items: center;
          margin-bottom: -1px;
          position: relative;

          a {
            margin-right: 1px;
            line-height: 1.42;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 8px 10px;
            font-weight: 550;
            font-size: 0.9rem;
            color: $text-color;
            text-decoration: none;
            border: $gallery-border;
            border-right: 0;
            border-left: $gallery-border;
          }

          &.active > a {
            color: $primary;
            background-color: $galllery-bg-color;
            border-top: 3px solid $primary;
            border-left: 0;
            border-bottom-color: transparent;
          }

          &.active ~ li.tab-list-element > a {
            border-right: $gallery-border;
            border-left: 0;
          }
        }
      }

      .tab-content {
        overflow: hidden;
        border: $gallery-border;
        border-top-color: transparent;
        min-height: 500px;
        width: 100%;
        background-color: $galllery-bg-color;
        display: block;
        position: relative;

        .tabpanel-content {
          z-index: 1;
          position: relative;
          min-height: 500px;
          width: 100%;

          .presentation-outlines {
            z-index: 3;
            position: absolute;
            left: 6px;
            display: flex;
            flex-direction: column;
            top: 20%;

            .btn-outline {
              margin-bottom: 5px;
            }
          }

          .product-info {
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 250px;
            height: 100px;
            background-color: $product-info-bg-color;
            position: absolute;
            right: 0;
            bottom: 25%;
            @extend %gallery-box-shadow;

            .price-circle {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              color: $price-circle-text-color;
              background-color: $price-circle-bg-color;
              border-radius: 50%;
              height: 100px;
              width: 100px;
              bottom: 80%;

              .new-price {
                font-size: 20px;
              }

              .old-price {
                font-size: 16px;
                text-decoration: line-through;
              }
            }

            h5 {
              font-size: 16px;
              margin-top: 10px;
            }

            &::after {
              @extend %triangle-base;
              border-top: 30px solid $product-info-triangle-color;
              border-right: 30px solid transparent;
              top: 0;
              left: 0;
            }

            &::before {
              @extend %triangle-base;
              border-bottom: 30px solid $product-info-triangle-color;
              border-left: 30px solid transparent;
              bottom: 0;
              right: 0;
            }

            .stars {
              a {
                text-decoration: none;
                color: $text-color;
                @extend .far;
                @extend .fa-star;

                &.full {
                  @extend .fas;
                }
              }
            }
          }

          .img-box {
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            bottom: 20%;
            right: 0;
            background-image: url("../images/black-crown.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          //carousel
          .product-carousel {
            position: absolute;
            bottom: 0;
            max-height: 100px;
            max-width: 100%;
            background-color: $carousel-bg-color;
            border-top: $gallery-border;
            padding: 10px;
            display: flex;
            justify-content: center;

            .carousel-inner {
              max-width: 90%;
              max-height: 70px;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin: 0 5px;
              overflow-x: auto;

              &::-webkit-scrollbar {
                display: none;
              }

              .item {
                max-width: 70px;
                height: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: $product-slider-bg-color;
                margin: 0 5px;
                padding: 5px;
                cursor: pointer;

                img {
                  max-width: 60px;
                }

                &.active {
                  opacity: 1;
                  border: 2px solid $primary;
                }

                &:not(.active) {
                  opacity: 0.3;
                }
              }
            }

            .carousel-control {
              position: absolute;
              top: 10px;
              bottom: 10px;
              width: 5%;
              font-size: 14px;
              color: $carousel-controls-color;
              text-align: center;
              background: $carousel-control-bg;
              text-decoration: none;
            }

            .carousel-control.left {
              display: flex;
              justify-content: center;
              align-items: center;
              left: 5px;
              @extend .fas;
              @extend .fa-chevron-left;
            }

            .carousel-control.right {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 5px;
              @extend .fas;
              @extend .fa-chevron-right;
            }
          }
        }
      }
    }
  }

  .gallery-presentation-image {
    position: relative;
    background-color: $gallery-right-box-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15% 15%;

    .presentation-header-top {
      color: $text-color;
      font-size: 1.2em;
      z-index: 2;

      .presentation-price {
        font-size: 2.7rem;
        color: $gallery-green-color;
      }
    }

    .presentation-header-bottom {
      font-size: 2.6em;
      color: $primary;
      z-index: 2;
    }

    .presentation-shop-now-button {
      margin-top: 15px;
      background-color: $gallery-green-color;
      padding: 15px 25px;
      color: #fff;
      border-radius: 5px;
      font-size: 0.8em;
      z-index: 2;
      cursor: pointer;
    }

    .gallery-right-img-container {
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 1;

      .gallery-right-bg-img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
}
