.menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container>.row {
        height: 84px;
    }

    // .menu {}

    .search-form {
        border: 1px solid $form-border-color;
        display: inline-flex;
        height: 45px;
        color: $text-color;

        .category {
            border-right: 1px solid $form-border-color;
            display: flex;
            align-items: center;
            position: relative;

            i:first-child {
                color: $primary;
                position: absolute;
                left: 10px;
                z-index: 0;
            }

            i:last-child {
                position: absolute;
                right: 10px;
                z-index: 0;
            }

            select {
                -webkit-appearance: none;
                border: 0;
                background-color: transparent;
                outline: none;
                padding: 5px 30px 5px 35px;
                font-size: 14px;
                position: relative;
                z-index: 1;
            }
        }

        .search-field {
            display: flex;
            align-items: center;
            position: relative;

            input {
                border: 0;
                padding-left: 10px;
                font-size: 14px;
                outline: none;

                &::placeholder {
                    color: $text-color;
                }
            }

            button {
                border: 0;
                background-color: transparent;
                outline: none;
            }
        }

    }
}

.menu_bar_box_menu {
    display: flex;
    align-self: stretch;
}

.menu_overlist {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.menu_overlist_item {
    display: inline-flex;
    position: relative;
    min-width: 62px;
    justify-content: center;

    &:hover,
    &.active {
        background-color: $primary;
    }

    &.active {
        border-color: $text-color;
    }
}

.menu_overlist_item_link {
    color: $text-color;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover,
    &.active {
        background-color: $primary;
    }
}

.menu_dropdown_list {
    padding: 0;
    top: 83px;
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;

    a:hover {
        text-decoration: none;
        color: $text-color;
    }
}

.menu_dropdown_list_item {
    background-color: $primary;
    border-top: 1px solid white;
    display: inline-flex;
    justify-content: center;
}

.menu_dropdown_list_item_link {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.menu_overlist_item:hover {
    .menu_overlist_item_link {
        color: #ffffff;
    }

    .menu_dropdown_list {
        display: inline-flex;
        flex-direction: column;
    }
}

.menu_dropdown_list_item:hover {
    background-color: white;
    border: 1px solid $primary;
}

.menu_bar_box_hamburger {
    display: none;
}

@media (max-width: 1200px) {
    .menu_bar_box {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .menu_bar_box_search {
        max-width: 40vw;
    }

    .menu_bar_box_menu {
        max-width: 50vw;
    }

    .menu_overlist_item_link {
        padding: 0.5rem;
    }

    .menu_overlist_item_link,
    .menu_dropdown_list_item_link {
        letter-spacing: 0.5px
    }
}

@media (min-width: 651px) and (max-width: 1025px) {

    .menu_bar_box {
        flex-direction: column-reverse;
    }

    .menu_bar_box_menu {
        justify-content: center;
    }

    .menu-bar {
        height: 140px;
    }

    .menu_overlist,
    .menu_bar_container,
    .menu-bar .container>.row {
        height: 100%;
    }

    .menu_bar_box_search {
        height: 40%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_bar_box_menu {
        height: 60%;
        max-width: 100%;
    }

    .menu_dropdown_list_item_link,
    .menu_overlist_item_link {
        padding: 1rem;
    }
}

@media (max-width: 650px) {
    .menu_bar_box_menu {
        display: none;
    }

    .menu_bar_box_hamburger {
        display: flex;
        padding: 1.5rem 2rem;
    }

    .menu_bar_box_hamburger_icon {
        color: $primary;
    }

    .menu_bar_box_search {
        max-width: 80vw;
    }

    .menu-bar .search-form {
        flex-direction: column;
        height: 80px;
        justify-content: space-between;

        .category {
            border-right: 0;
            border-bottom: 1px solid $text-color;
            height: 50%;
        }

        .search-field {
            height: 50%;
        }
    }
    .menu_bar_box_hamburger:hover,
    .menu_bar_box_hamburger:active{
        background-color: $primary;
        .menu_bar_box_hamburger_icon {
            color: #fff;
        }
    }

}