header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: $bright-text;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: $bright-text;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: $bright-text;

    .container > .row {
      height: 84px;
      @include media-breakpoint-between(md, lg) {
        height: 126px;
      }
    }
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;

        a {
          color: $text-color;
          text-transform: uppercase;
          font-size: 12px;
          padding: 1rem;
          text-decoration: none;
          display: flex;
          align-items: center;
          border-top: 4px solid $bright-text;
          font-weight: 500;
          letter-spacing: 1px;

          &:hover,
          &.active {
            background-color: $primary;
            color: $bright-text;
            border-color: $primary;
          }

          &.active {
            border-color: $text-color;
          }
        }
      }
    }
    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 200px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .search-form {
    border: 1px solid $form-border-color;
    display: inline-flex;
    height: 45px;
    color: $text-color;
    margin: 20px 0;

    .category {
      border-right: 1px solid $form-border-color;
      display: flex;
      align-items: center;
      position: relative;

      i:first-child {
        color: $primary;
        position: absolute;
        left: 10px;
        z-index: 0;
      }

      i:last-child {
        position: absolute;
        right: 10px;
        z-index: 0;
      }

      select {
        -webkit-appearance: none;
        border: 0;
        background-color: transparent;
        outline: none;
        padding: 5px 30px 5px 35px;
        font-size: 14px;
        position: relative;
        z-index: 1;
      }
    }

    .search-field {
      display: flex;
      align-items: center;
      position: relative;

      input {
        border: 0;
        padding-left: 10px;
        font-size: 14px;
        outline: none;

        &::placeholder {
          color: $text-color;
        }
      }
      button {
        border: 0;
        background-color: transparent;
        outline: none;
      }
    }
    @include media-breakpoint-between(md, lg) {
      position: relative;
      margin-top: 60px;
    }
  }
  .menu-button {
    color: $primary;
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    position: static;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
.dropdown-menu {
  display: none;
  position: fixed;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    background-color: $bright-text;
    li {
      list-style: none;
      a {
        color: $text-color;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        text-decoration: none;
        display: block;
        align-items: center;
        border-top: 4px solid $bright-text;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover,
        &.active {
          background-color: $primary;
          color: $bright-text;
          border-color: $primary;
        }
        &.active {
          border-color: $text-color;
        }
      }
    }
  }
}

.show {
  display: block;
  position: relative;
  top: 10px;
  margin-top: 10px;

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    .top-bar {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          line-height: 55px;

          a {
            color: #ffffff;
            font-size: 13px;
            margin-right: 5px;

            &:hover {
              color: $primary;
              text-decoration: none;
            }
          }
        }
      }

      .text-left {
        padding-left: 5px;
        padding-right: 0;

        .top-bar-left-menu {
          display: flex;
          justify-content: space-around;

          .top-bar-left-menu-el {
            margin-right: 0;

            i {
              margin-left: 2px;
            }
          }
        }
      }

      .text-right {
        max-width: 120px;
        padding-right: 5px;
        padding-left: 0;
        .top-bar-right-menu {
          .top-bar-right-menu-el {
            margin-left: 0;

            i {
              margin-right: 15px;
            }

            .top-bar-menu-el-text {
              display: none;
            }
          }
        }
      }
    }

    .company-claim {
      background-color: $header-bg;

      .container > .row {
        height: 145px;
        position: relative;
      }

      .banner-logo-container {
        order: -1;
        position: absolute;
        width: 50%;
      }

      .phone-number {
        position: absolute;
        bottom: 10%;
        right: 0;
        width: 50%;
        padding-right: 0;
        display: flex;
        justify-content: center;

        p {
          font-size: 14px;

          i {
            font-size: 25px;
          }
        }
      }

      .cart {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        right: 0;
        padding-right: 0;
        width: 50%;
      }
    }
  }
}

