header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        display: block;
        padding: $grid-base 0;

        a {
          color: $white;
          font-size: $font-size-6;
          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .dropdown-menu__item {
    margin-right: 1.5rem;

    i {
      margin-left: 5px;
    }
  }

  .user-menu__item {
    margin-left: 1.5rem;

    i {
      margin-right: 5px;
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: $grid-base * 14.5;
    }
  }

  .phone-number {
    p {
      margin: 0;
      @include large-up {
        font-size: $font-size-4 + 1;
      }
      font-size: $font-size-6;
      padding: $grid-base * 4.2 0;
      color: $phone-number;
      font-weight: 500;

      i {
        font-size: $font-size-7 * 3;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cart-box {
      display: inline-block;
      position: relative;
      color: $white;

      .cart-counter {
        width: $grid-base * 2.8;
        height: $grid-base * 2.7;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-5;
        color: $cart-counter;
        position: absolute;
        top: 50%;
        right: 0;
        transform: $featured-couter;
      }

      &:hover {
        .cart-icon {
          background-color: $primary;
          width: $grid-base * 5.5;
          height: $grid-base * 5;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $font-size-7 * 2;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: $grid-base * 2.8;
          height: $grid-base * 2.7;
          border-radius: $grid-base * 1.4;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $font-size-7 * 1.4;
          color: $featured-card-counter;
          position: absolute;
          top: 50%;
          right: 0;
          transform: $featured-couter;

          &__value {
            text-align: left;
            margin-left: $grid-base;
            width: $grid-base * 3;
          }
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px $featured-menu-bar;
    background-color: $white;

    .container > .row {
      height: $grid-base * 8;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: $font-size-6;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid $white;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: $white;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .category {
      top: -$grid-base * 2;
      left: $grid-base * 3;
      display: flex;
      align-items: center;
      position: relative;

      i:first-child {
        color: $primary;
        top: 0;
        position: absolute;
        left: $grid-base;
        padding: $grid-base * 1.6;
        z-index: 0;
      }

      i:last-child {
        position: absolute;
        right: $grid-base;
        z-index: 0;
      }

      ul {
        left: 0;
        top: 0;
        list-style: none;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;

        a {
          margin-left: $grid-base * 5.3;
          margin-right: -7px;
          padding: $grid-base;
          width: 68%;
          color: $form-border-color;
          outline: none;

          &:hover {
            @include medium-up {
              @include transition(all 150ms linear);
              outline: none;
            }
          }

          &:active {
            @include box-shadow(0, 0, 2px, 0, $white);
            @include transition(all 150ms linear);
          }
        }

        li {
          border: 1px solid $form-border-color;
          height: $grid-base * 4;

          &:hover > ul {
            @include medium-up {
              display: block;
            }
          }
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $menu-category;
          padding: 0;
          z-index: 2;

          li {
            float: none;
            border: 1px solid $white;
          }

          a {
            padding: 7px $grid-base * 6.5;
            white-space: nowrap;
            color: $white;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
          }

          &.show {
            display: block;
            max-height: $grid-base * 12.9;
            @include transition(max-height 1s ease-in-out);
            @include transform(scaleY(1));
          }

          ul {
            top: 0;
            left: 100%;
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: $grid-base * 4;
      color: $text-color;

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: $grid-base;
          font-size: $grid-base * 1.4;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .cart {
    left: -$grid-base * 2.2;
  }
}

@include media-breakpoint-down(sm) {
  .company-claim {
    .row {
      position: relative;
    }

    .phone-number {
      font-size: $font-size-5;
      text-align: right;

      &-wrapper {
        position: absolute;
        right: $grid-base * 1.5;
        bottom: 0;
        padding: 0;
      }
    }

    .cart {
      position: relative;
      top: -$grid-base * 1.5;
      right: $grid-base * 1.5;
    }
  }
}

@include media-breakpoint-down(xs) {
  header .dropdown-menu__item {
    margin-right: 1rem;
  }

  .text-right {
    padding-left: 0;
  }

  .user-menu__list {
    white-space: nowrap;
  }

  .user-menu__item {
    width: $grid-base * 1.3;
    overflow: hidden;
    white-space: nowrap;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
