header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: $grid-base * 5.5;

        a {
          color: $white;
          font-size: $font-size-8;
          @extend .animation-transition;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .dropdown-menu__item {
    margin-right: 1.5rem;

    i {
      margin-left: 5px;
    }
  }

  .user-menu__item {
    margin-left: 1.5rem;

    i {
      margin-right: 5px;
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: $grid-base * 14.5;
    }
  }

  .phone-number {
    margin: 0;
    font-size: 17px;
    line-height: 42px;
    color: $phone-number;
    font-weight: 500;

    i {
      font-size: 32px;
      color: $primary;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 0.8rem;
    }
  }

  .cart {
    .cart-box {
      display: inline-block;
      position: relative;
      color: $white;
      @extend .animation-transition;

      @media screen and (max-width: 600px) {
        left: -22px;
      }

      .cart-icon {
        background-color: $primary;
        width: $grid-base * 5.5;
        height: $grid-base * 5;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-11;

        i {
          margin-right: 5px;
        }
      }

      .cart-counter {
        width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $cart-counter;
        position: absolute;
        top: 50%;
        right: 0;
        transform: $cart-counter;
      }

      &:hover {
        .cart-icon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px $menu-bar;
    background-color: $white;

    .container > .row {
      height: $grid-base * 8.4;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid $white;
            font-weight: 500;
            letter-spacing: 1px;
            @extend .animation-transition;

            &:hover,
            &.active {
              background-color: $primary;
              color: $white;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: $grid-base * 4.5;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: $grid-base;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: $grid-base;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px $grid-base * 3 5px $grid-base * 3.5;
          font-size: $font-size-5;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: $grid-base;
          font-size: $font-size-5;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .company-claim {
    .row {
      position: relative;
    }

    .phone-number {
      font-size: $font-size-5;
      text-align: right;

      &-wrapper {
        position: absolute;
        right: $grid-base * 1.5;
        bottom: 0;
        padding: 0;
      }
    }

    .cart {
      position: relative;
      top: -$grid-base * 1.5;
      right: $grid-base * 1.5;
    }
  }
}

@include media-breakpoint-down(xs) {
  header .dropdown-menu__item {
    margin-right: 1rem;
  }

  .text-right {
    padding-left: 0;
  }

  .user-menu__list {
    white-space: nowrap;
  }

  .user-menu__item {
    width: $grid-base * 1.3;
    overflow: hidden;
    white-space: nowrap;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
