.panel-bar {
  margin-bottom: 30px;
  
  .row > * {
    border-bottom: 4px solid #e2e2e2;
  }

  .heading {
    position: relative;

    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $primary;  
    }
  }

  .menu {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      margin-left: 30px;
      list-style: none;
      justify-content: space-between;
      max-width: 500px;
      position: relative;
      z-index: 999;
      
      li {
        display: inline-block;
        margin: 0;
        font-weight: 600;

        a {
          color: rgb(42,42,42);
          position: relative;
          text-decoration: none;
          font-size: 18px;
          margin: 0;
          padding: 0;
          display: block;
          @extend %transitionsAll;

          &.active,
          &:hover {
            &::before {
              content: '';
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              border-bottom: 4px solid $primary;
            }
          }
        }
      }
    }
  }

  .dots {
    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;
      background-color: #ffffff;
      transform: translateY(15px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: #e1e1e1;
          @extend %transitionsAll;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
  
}

@media(max-width: 992px) {

  .panel-bar {

    .menu {

      ul {
        max-width: 330px;
      }
    }

  }
}

@media(max-width: 768px) {

  .panel-bar {
    margin-bottom: 55px;

    .menu {

      ul {
        display: flex;
        left: -170px;
        margin-left: 7px;
        width: 330px;
        top: 18px;
        position: absolute;
      }
    }

  }
}
