.post-box {
  margin-bottom: 2rem;

  .cover {
    padding: 70% $grid-base * 2.5 0 $grid-base * 2.5;

    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    .details {
      padding: $grid-base * 1.5 $grid-base * 2;
      display: flex;
      background-color: $white;
      font-size: $font-size-5;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
        color: $text-color;
      }

      .comments {
        text-align: right;
        color: $text-color;
      }
    }
  }

  .post-info {
    padding: $grid-base * 2.5;

    h5 {
      color: $text-color;
      font-size: $font-size-4;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: $font-size-5;
      line-height: 24px;
      color: $post-info;
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: $grid-base * 3;

      &-btn {
        background-color: $text-color;
        color: $text-hover;
        font-size: $font-size-4;
        line-height: 24px;
        font-weight: 600;
        padding: $grid-base $grid-base * 3;
      }
    }
  }
}

.blog-link {
  @media not all and (hover: none) {
    &:hover {
      text-decoration: none;

      & .post-info h5 {
        color: $primary;
      }

      & .more-btn {
        background-color: $primary;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .post-box .cover .details {
    font-size: 12px;
  }
}
