.post-box {
  margin-bottom: 2rem;
  
  .cover {
      position: relative;
      background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    img {
      width: 100%;
      height: 300px;
    }

    .details {
      left: 10%;
      top: 250px;
      position: absolute;
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        padding: 0 20px 0 0;
        text-align: left;
      }

      .comments {
        text-align: right;
        padding: 0 0 0 20px
      }
    }
  }

  .post-info {
    padding: 25px;

    h5 {
      color: black;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103,103,103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }

  &:hover {
    cursor: pointer;

    .post-info {
        cursor: pointer;
        color: $primary;

      h5 {
        color: $primary;
      }

      .btn-main {
        background: $primary;
      }
    }
  }

  .post-info:hover {
    cursor: pointer;
    color: $primary;

    h5 {
      color: $primary;
    }

    .btn-main {
      background: $primary;
    }
  }
}

.col-4 a {
  text-decoration: none;
  color: black;
}