.post-box-container {
  display: block;

  .post-box {
    margin-bottom: 2rem;

    .cover {
      padding: 70% 25px 0 25px;
      background: {
        color: $post-box-cover-bg;
        size: cover;
        position: 50%;
      }

      .details {
        padding: 15px 20px;
        display: flex;
        background-color: $post-box-bg;
        font-size: 14px;
        color: $text-color;

        & > * {
          flex: 1 1 auto;
        }

        .date {
          text-align: left;
        }

        .comments {
          text-align: right;
        }
      }
    }

    .post-info {
      padding: 25px;

      h5 {
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        transition: color 250ms ease;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        color: $post-info-text-color;
        text-align: justify;
      }

      .more {
        text-align: center;
        padding-top: 30px;

        .btn-main {
          transition: background-color 250ms ease;
        }
      }
    }
  }

  &:hover {
    text-decoration: none;

    .post-box {
      .post-info {
        h5 {
          color: $primary;
        }

        .more {
          .btn-main {
            background-color: $primary;
          }
        }
      }
    }
  }
}
