.section-promote {
  margin-top: 20px;
}

.hot-deals {
  position: relative;

  &__header {
    width: 100%;
    height: 50px;
    background-color: $text-color;
    position: relative;

    &--text {
      color: $text-hover;
      text-transform: uppercase;
      font-size: 20px;
      padding: 13px;
      margin: 0;
    }
  }

  &__dots {
    position: absolute;
    top: calc(50% - 7px);
    right: 5%;
    line-height: 1;

    &--dot {
      background-color: $text-hover;
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin: 0 4px;

      @media not all and (hover: none) {
        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  &__photo {
    max-height: 100%;
    max-width: 100%;
  }

  &__product {
    margin: 0;
  }

  &__button {
    position: absolute;
    top: 30%;
    left: 32%;
  }
}

.distinguish {
  position: relative;
  height: 100%;

  &__image {
    max-width: 100%;
    min-height: 100%;
  }

  &__nav {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__buttons {
    display: inline-block;
    width: 50%;
    height: 100%;
    border: 0;
    float: right;
    background-color: $text-color;
    color: $text-hover;
    font-size: 26px;

    @media not all and (hover: none) {
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 30%;
  width: 100%;
  height: 40%;
  color: $text-hover;
  text-align: center;

  &__header {
    display: inline-block;
    font-weight: 200;
    font-size: 50px;
    line-height: 0;
    margin-top: 12%;

    &--bold {
      font-weight: 600;
    }
  }

  &__button {
    position: absolute;
    bottom: -30px;
    width: 30%;
    left: 35%;
    height: 60px;
    border: 0;
    border-radius: 3px;
    line-height: 18px;
    background-color: $text-hover;
    color: $text-color;
    font-weight: 700;
  }
}

.counter {
  position: absolute;
  bottom: 180px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.8;

  &__value {
    text-align: center;
    color: $text-hover;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $text-color;
    margin: 2px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 996px) {
  .overlay__header {
    margin-top: 35px;
  }

  .overlay__header--bold {
    margin-top: 15px;
  }

  .hot-deals__button {
    left: 22%;
  }

  .counter {
    bottom: 165px;

    &__value {
      line-height: 18px;
      font-size: 14px;
      width: 50px;
      height: 50px;
      margin: 1px;
      padding: 5px 0 2px 0;
    }
  }
}

@media (max-width: 768px) {
  .hot-deals {
    display: none;
  }

  .overlay__header {
    margin-top: 10%;
  }

  .overlay__header--bold {
    margin-top: 15px;
  }

  .distinguish {
    height: 400px;
  }

  .overlay__button {
    bottom: -40px;
  }
}

@media (max-width: 355px) {
  .overlay__button {
    font-size: 14px;
    bottom: -45px;
    height: 50px;
  }
}
