.section--feedback {

    .feedback {
        
        &-indicators {

            .carousel-indicator {

                &:focus {
                    outline: none;
                }

                &.active,
                &:hover {
                background-color: $primary;
                }
            }

            .tns-nav-active {

                .carousel-indicator {
                    background-color: $primary;
                }
            }
        }
    }

    .feedback {
        
        &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

            .quote-mark {
                font-size: 1.5rem;
                margin-bottom: 30px;
            }
        }

        &-text {
            text-align: center;
            width: 90%;
            margin-bottom: 30px;
            font-weight: 300;
        }

        &-client {
            display: flex;
            align-items: center;

            &-photo {
                height: 50px;
                width: 50px;

                .client-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-info {
                margin-left: 15px;

                .client {

                    &-name,
                    &-origin {
                        margin: 0;
                        text-align: center;
                    }
    
                    &-name {
                        font-weight: 600;
                    }
    
                    &-origin {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    
    .section--feedback {

        .feedback {
            
            &-indicators {
    
                .carousel-indicator {
        
                    &.active,
                    &:hover {
                        background-color: #e1e1e1;
                    }
                }
        
                .tns-nav-active {
        
                    .carousel-indicator {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}