.section-promotional {
  margin-top: 2rem;
}

.product-card {
  border: 1px solid $wrapper-border-color;

  .panel {
    width: 100%;
    background-color: $form-border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      color: $font-color;
      text-transform: uppercase;
      font-size: 20px;
      padding-top: 10px;
      letter-spacing: 1px;
    }

    .promotional-dots {
      margin-right: 0.5rem;
      ul {
        margin-bottom: 25px;
        padding: 0 0 0 1rem;
        list-style: none;
        transform: translateY(15px);
        li {
          display: inline-block;
          margin-left: 0.5rem;

          span {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
    .tns-nav-active {
      span {
        background-color: $primary;
      }
    }
    .carousel-hot-deals {
      flex-wrap: nowrap;
    }
  }
  .promotional-box {
    background-color: #ffffff;
    margin-bottom: 2rem;

    .photo-container {
      position: relative;
      padding: 10px 10px 0 10px;
      background: {
        color: #f4f5f7;
        size: contain;
        position: center;
        repeat: no-repeat;
      }
      overflow: hidden;
      align-items: flex-end;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .promotional-button {
      opacity: 0;
      position: absolute;
      bottom: 75%;
      left: 35%;
      right: 0px;
    }

    .photo-container:hover {
      .promotional-button {
        opacity: 1;
      }

      .timer {
        opacity: 1;
      }

      .btn-main-small:not(.no-hover):hover {
        background-color: $base-color;
      }
    }

    .timer {
      text-align: center;
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 20px;
      left: 0px;
      right: 0px;
      opacity: 0;

      span {
        display: inline-block;
        width: 65px;
        height: 65px;
        background-color: $form-border-color;
        color: whitesmoke;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }

    .actions {
      padding: 15px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        display: flex;
      }

      .old-price {
        text-decoration: line-through;
        background-color: $font-color;
        color: $base-color;
      }
    }
    .content {
      text-align: center;
      padding: 20px;

      h5 {
        color: $primary;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      .stars {
        a {
          text-decoration: none;
          color: rgb(42, 42, 42);
          @extend .far;
          @extend .fa-star;

          &.full {
            @extend .fas;
          }
        }
      }
    }
  }
}

.slider {
  overflow: hidden;

  .promotional-wrapper {
    background-image: url("../images/furniture2.jpeg");
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }
    height: 100%;
    position: relative;
  }

  .promotional-wrapper:before {
    content: "";
    position: absolute;
    height: 80%;
    top: 30%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .promotional-title {
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    color: $font-color;
    text-transform: uppercase;
    font-weight: 200;

    a {
      background-color: $font-color;
      color: $form-border-color;
    }

    a:hover {
      background-color: $form-border-color;
      color: $font-color;
      text-decoration: none;
    }

    .promotional-slogan {
      font-weight: 200;
      span {
        font-weight: bold;
      }
    }
  }

  .slider-row {
    position: absolute;
    bottom: 0px;
    width: 100%;

    a {
      display: inline-block;
      width: 100%;
      background-color: $form-border-color;
      text-align: center;
      font-size: 24px;

      i {
        color: $font-color;
        background-color: $form-border-color;
      }
      &:hover {
        background-color: $primary;
        i {
          background-color: $primary;
        }
      }
    }
  }
}
