.section--brands {
  margin: 50px 0 80px;
  height: 140px;
  .brands-carousel {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 60px;
    margin: 2rem auto 0 auto;
    overflow: hidden;    
    position: relative;
    .brands-carousel-controls {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrow {
        position: relative;
        background: $footer-claim-bg;
        color: #fff;
        height: 90px;
        width: 40px;
        text-align: center;
        border: none;
        transition: .2s;
        span {
          position: relative;
          top: 38%;
        }
        &:hover {
          background: $primary;
        }
      }
    }
    .brands-slider {
      position: relative;
      .slider-item {
        .card {
          border: 1px solid #ddd;
          padding: 10px;
          height: 90px;
          position: relative;
          text-align: center;
          display: flex;
          align-items: center;
          margin: 0 5px;
          .logo {
            height: auto;
            max-height: 100%;
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}