.section--features {
  padding: 5rem 0;
}

@media screen and (max-width: 320px) {
  .section--features {
    .container {
      .row {
        .col {
          min-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-device-width: 480px) {
  .section--features {
    .container {
      .row {
        .col {
          min-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-device-width: 812px) {
  .section--features {
    .container {
      max-width: 736px;
      .col {
        padding: 0 10px;
        max-width: 50%;
        min-width: 45%;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 813px) and (max-device-width: 1000px) {
  .section--features {
    .container {
      max-width: 960px;
    }
    .col {
      padding: 0 10px;
      max-width: 40%;
      min-width: 20%;
      font-size: 0.8rem;
      .icon {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 897px) and (max-device-width: 1000px) {
  .section--features {
    .container {
      max-width: 1000px;
      .col {
        padding: 0 10px;
        max-width: 30%;
        min-width: 20%;
        font-size: 0.9rem;
        h5 {
          font-size: 1.1rem;
        }
      }
    }
  }
}
