.section--features {
  padding: 5rem 0;
}

@media screen and (max-device-width: 1000px) {
  .section--features {
    .container {
      .col {
        padding: 0 10px;
        max-width: 30%;
        min-width: 20%;
        font-size: 0.9rem;
        h5 {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .section--features {
    .container {
      .col {
        padding: 0 10px;
        max-width: 40%;
        min-width: 20%;
        font-size: 0.8rem;
        .icon {
          font-size: 1rem;
        }
        h5 {
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media screen and (max-width: 812px) {
  .section--features {
    .container {
      .col {
        padding: 0 10px;
        max-width: 50%;
        min-width: 45%;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .section--features {
    .container {
      .row {
        .col {
          min-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
