.section--features {
  padding: 5rem 0;
  
  a {
    text-decoration:none;
    i {
        background-color: #ffffff;
        color: $text-color;
        border-color: $primary;
    }
    .content {
      color: $text-color;
    }
    &:hover, &:focus {
      .content {
          color: $secondary;
    	 }
      i {
          background-color: $primary;
        }
      .icon {
        &:before {
          border: 1px solid $primary;
        }
      }
    }
  }
  @media (max-width: 480px) {
    [class*="col-"] {
      flex: 0 0 50%;
      max-width: 100%;
    }
  }  
}