.section--blog-posts {
  a {
    text-decoration: none;
   .post-box {
      margin-bottom: 2rem;
      &:hover {
       .btn-main {
         color: #ffffff !important;
         background-color: $primary;
         text-decoration: none;
        }
        .post-info {
          h5 {
          color: $primary;
          }
        }  
      }
  
    .cover {
      padding: 0;
      background: {
        color: #f4f5f7;
        size: cover;
        position: center;
      }

      .details {
        padding: 15px 20px;
        display: flex;
        background-color: #ffffff;
        font-size: 14px;

        & > * {
          flex: 1 1 auto;
        }

        .date {
          text-align: left;
          color: #212529;
        }

        .comments {
          text-align: right;
          color: #212529;
        }
      }
    }

      .post-info {
        padding: 25px;

        h5 {
          color: $post-info-heading-color;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: $post-info-heading-color;
          text-align: justify;
        }

        .more {
          text-align: center;
          padding-top: 30px;
        }
      }
    }
  }
  @media (max-width: 800px) {
    h3 {
      text-align: center;
    }
    .mobile-container {
      display: block;
      text-align: center;
    }
    .row {
      text-align: center;
     }
     a {
       .post-box {
          text-align: center;
        }
     }
  }  
  @media (max-width: 992px) {
    .heading {
      flex: 0 0 100%;
      max-width: 100%;
    }  
    h3 {
        text-align: center;
    }
  } 
}
